<!DOCTYPE html>
<html lang="en">
<head>
    <title>IncTrak VisAlyzer</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="icon100.ico">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="/css/visualize.css" />
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
    <script src="https://unpkg.com/axios@0.21.1/dist/axios.js"></script>
    <script src="/thirdparty/jcaptcha.js"></script>
</head>
<body class="bg-light">
    <div class="container" id="manga_auth">
        <modal_cookie :show="showModalCookie" @close="showModalCookie = false" @accept_cookie="acceptCookie"></modal_cookie>
        <modal_login :show="showModalLogin" @close="showModalLogin = false" @authenticated="authenticated"></modal_login>
        <modal_status :show="showModalStatus" @close="showModalStatus = false" @cancel="cancelJob" :statusfunc="mangaProcessStatus" :curstatuskey="curstatuskey" :curstatusdata="curstatusdata"></modal_status>
        <modal_alert :show="showModalAlert" @close="showModalAlert = false" @yes="takeAction" :title="modal_title" :message="modal_message" :secondary="modal_secondary" :confirm="modal_yes_no_action" :list="modal_list"></modal_alert>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/img/inctrak.svg" width="200">
            <h2>Welcome to IncTrak VisAlyzer</h2>
            <p class="lead">Please choose the approriate method to start data visualization.</p>
            <p class="font-italic font-weight-light">
                This free versions limits a input matrix to a maximum of 5 million cells with the ability to save up to 5 distinct
                analysis projects for personal use. Contact us at with <a href="mailto:quote_support@inctrak.com">email</a> or <a href="https://visalyzer.com#contact-us" target="_blank"> online</a> 
                to get a license to remove this restriction or to enquire about a Enterprise license.
            </p>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">VisAlyzer Name</th>
                        <th scope="col">Source</th>
                        <th scope="col">Type</th>
                        <th scope="col">Limit</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="manga in myMangas">
                        <th scope="row"><a :href="manga.Url">{{ manga.Name }}</a></th>
                        <td>{{ manga.Original }}</td>
                        <td>{{ manga.Type }}</td>
                        <td>{{ manga.MaxRows == 0 ? "All" : manga.MaxRows }}</td>
                        <td>{{ manga.Status }}</td>
                        <td>{{ new Date(manga.Created).toLocaleString() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="mb-4">
        <form class="needs-validation was-validated">
            <div class="form-row">
                <div class="col-6 pl-2">
                    <label for="sheet_id">VisAlyzer Name</label>
                    <input type="text" class="form-control" v-model="manga_name" placeholder="" required="">
                    <div class="invalid-feedback">
                        Please enter the name you want this VisAlyzer refered to as.
                    </div>
                </div>
                <div class="col-3 pl-2">
                    <label for="range">Header on Row</label>
                    <input type="number" class="form-control input-sm" v-model="header_row" placeholder="" :min="0">
                </div>
            </div>
            <div class="form-row ">
                <div class="col-6 pl-2">
                    <label for="sheet_id">Ignore Columns<span class="text-muted"> (Optional)</span></label>
                    <input type="text" class="form-control" v-model="ignore_cols" placeholder="comma separated list of columns to ignore (name or 1 based column index)">
                </div>
                <div class="col-3  pl-2">
                    <label for="range">Header Rows</label>
                    <input type="number" class="form-control input-sm" v-model="header_rows" placeholder="" :min="0">
                </div>
            </div>
            <div class="form-row ">
                <div class="col-6 pl-2">
                    <div class="form-check">
                        <input type="checkbox" id="ignore_blank_rows" v-model="ignore_blank_rows">
                        <label for="ignore_blank_rows">Ignore blank rows</label>
                        <input type="checkbox" id="ignore_text_case" v-model="ignore_text_case">
                        <label for="ignore_text_case">Ignore Text Case</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="trim_leading_whitespace" v-model="trim_leading_whitespace">
                        <label for="trim_leading_whitespace">Trim Leading Whitespace</label>
                        <input type="checkbox" id="trim_trailing_whitespace" v-model="trim_trailing_whitespace">
                        <label for="trim_trailing_whitespace">Trim Trailing Whitespace</label>
                    </div>
                </div>
                <div class="col-3 pl-2">
                    <label for="range">Stop After n Rows<span class="text-muted"> (Optional)</span></label>
                    <input type="number" class="form-control input-sm" v-model="max_rows" placeholder="zero is all" :min="0">
                </div>
            </div>
        </form>
        <hr class="mb-4">
        <div class="row ">
            <div class="col-md-5 pb-4">
                <h4 class="mb-3">Load File Based Sheet</h4>

                <form class="needs-validation was-validated" v-on:submit.prevent="submitUploadSheetForm">
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="csv" name="sheet_type" value="csv" v-model="sheet_type" type="radio" class="custom-control-input" checked="" required="">
                            <label class="custom-control-label" for="csv">csv</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="excel" name="sheet_type" value="excel" v-model="sheet_type" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="excel">Excel (xls, xlxs, etc.)</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="file">File Upload</label>
                        <input class="form-control-file" type="file" id="file" name="file" required ref="file" v-on:change="handleFileUpload()" />
                    </div>
                    <div class="mb-3">
                        <progress max="100" :value.prop="uploadPercentage"></progress>
                    </div>

                    <button class="btn btn-primary btn-lg button_botom" type="submit">Upload/Process file</button>
                </form>
            </div>
            <div class="col-md-5 pb-4">
                <h4 class="mb-3">Load Google Sheet</h4>
                <form method="GET" ref="google_login" action="/google/manual_login">
                    <input type="hidden" name="inctrak_id" v-model="incTrakKey" />
                </form>
                <form class="needs-validation was-validated" v-on:submit.prevent="submitGoogleSheetForm">
                    <div class="mb-3">
                        <label for="sheet_id">Sheet ID</label>
                        <input type="text" class="form-control" v-model="sheet_id" id="sheet_id" name="sheet_id" placeholder="" required="">
                        <div class="invalid-feedback">
                            Please enter the google sheet id.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="range">Sheet Range</label>
                        <input type="text" class="form-control" v-model="range" id="range" name="range" placeholder="" required="">
                    </div>
                    <button class="btn btn-primary btn-lg button_botom" type="submit">Process Google Sheet</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2021 Calypso Systems, LLC</p>
        </footer>
    </div>

    <script src="/javascript/overrides.js"></script>
    <script src="/js/vis_init.js"></script>
    <script src="/js/vis_alert.js"></script>
    <script src="/js/vis_status.js"></script>
    <script src="/js/vis_cookie.js"></script>
    <script src="/js/vis_auth.js"></script>
    <script src="/js/vis_loader.js"></script>
</body>
</html>

